Checks: >
  -*
  ,
  clang-analyzer-*,
  bugprone-*,
  misc-*,
  performance-*,
  portability-*,
  readability-braces-around-statements,
  readability-else-after-return,
  readability-non-const-parameter,
  readability-redundant-*,
  readability-simplify-boolean-expr,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-security.insecureAPI.strcpy,
  -misc-include-cleaner,
  -misc-no-recursion,
  -readability-identifier-length,
  -readability-magic-numbers
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/'
FormatStyle: file
